@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #a0be92;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: #c9c9c9;
}

#root {
  height: 100%;
  width: 100%;
}